<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation: New Card Registration</title>

    <style>
        .username {
            font-size: 18px;
            margin-bottom: 5px;
        }
        .message {
            font-size: 16px;
            margin-bottom: 5px;
        }
        .message-heading {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: -10px;
        }
        .info {
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 5px;
        }
        .info-span {
            font-weight: normal;
        }
        .from-reg {
            font-size: 16px;
            margin-top: 20px;
            margin-bottom: 2px;
        }
        .from {
            font-size: 16px;
        }
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>    
    <div class="username">Dear {{ fullName }},</div>
    <div class="message">Congratulations! We're excited to inform you that your new investment account with Wallet watcher has been successfully opened. You've taken the first step towards building a brighter financial future, and we're thrilled to be a part of your journey.</div>
    <div class="message">Here are some key details about your new investment account:</div>
    
    <div class="info">Account Number: <span class="info-span">{{ accountNumber }}</span></div>
    <div class="info">Account Type: <span class="info-span">{{ accountName }}</span></div>
    <div class="info">Account holder Name: <span class="info-span">{{ holderName }}</span></div>
    <div class="info">Account Opening Date: <span class="info-span">{{ accountDate }}</span></div>

    <div class="message">Your account is now ready for you to start exploring investment opportunities and growing your wealth. Whether you're a seasoned investor or just getting started, our platform offers a range of investment options and tools to help you achieve your financial goals.</div>
    <div class="message">If you have any questions about your account or need assistance getting started, our team of investment experts is here to help. Feel free to reach out to us at {{ custContactEmailId }} or visit our website for resources and support.</div>
    <div class="message">Thank you for choosing Wallet watcher.. We're honored to have you as a valued member of our community, and we look forward to supporting you every step of the way.</div>
    
    <div class="message">Happy investing!</div>

    <div class="from-reg">Best regards,</div>
    <div class="from">Team Wallet watcher</div>
</body>
</html>